# 1. 데이터베이스 파일 제외 (가장 중요!)
*.db

# 2. 가상환경 폴더 제외 (팀원들끼리 파이썬 라이브러리 충돌 방지)
venv/
.venv/

# 3. VS Code 설정 및 기타 잡다한 시스템 파일 제외
.vscode/
.DS_Store
Thumbs.db
__pycache__/

# 4. 환경 변수 파일 제외 (보안상 중요한 정보가 들어있을 수 있음)
env/
.env

# 5. static 폴더 제외 (배포 시 빌드된 파일이 들어있을 수 있음)
static/